
.topbar {
  height: 60px;
  width: 100%;
  background: #F5F5F5;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.image-div {
  width: 45px;
  height: 45px;
  margin-left: 0px;
  border-radius: 50%;
  background-color: rgb(88, 86, 86);
  margin-left: 20px;
}

.others-div {
  font-size: 15px;
  font-weight: 700;
  padding-left: 10px;

  display: flex;
  align-items: center;
}