.wrapper {
  height: 60px;
  width: 100%;

  /* background-color: rgb(253, 246, 237); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.image {

}

.name {
  /* max-width: auto; */
  margin-right: auto;
  font-size: 18px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}

.name:hover {
  text-decoration: underline;

}