.settings {
	height: 40px;
	width: 100%;
	background-color: rgb(159, 179, 179);

	display: flex;
	align-items: center;
	justify-content: center;

	user-select: none;
	font-size: 1.2em;
	font-weight: 600;
	cursor: pointer;
}